html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: helvetica;
}

img { max-width: 100%; }
.container { max-width: 900px; margin: auto; }
.row { display: flex; }
.justify-around { justify-content: space-around; }